@import "../../../styles/colours.scss";

.navbar-item {
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 4rem;
  padding: 0px;
  position: relative;
  width: 4rem;

  &:hover,
  &:focus,
  &.active {
    &:after {
      opacity: 1;
      transform: translateY(-50%);
    }

    .navbar-item-content {
      height: 3rem;
      width: 3rem;
      background-color: $dark-primary;
      border-radius: 15px;
    }
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }

  &.active {
    &:after {
      height: 4rem;
    }
  }

  &:after {
    background-color: gray(230);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    content: "";
    height: 2rem;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: height 300ms, opacity 300ms;
    width: 2px;
  }

  &.default {
    &:hover,
    &:focus,
    &.active {
      .navbar-item-content {
        background-color: $green;

        svg {
          color: gray(230);
        }
      }
    }

    .navbar-item-content {
      svg {
        color: $green;
      }
    }
  }

  .navbar-item-content {
    align-items: center;
    background-color: $dark-primary;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin: 0px 10px;
    height: 3rem;
    transition: background-color 300ms, border-radius 300ms;
    width: 3rem;

    svg {
      color: gray(230);
      font-size: 1.75em;
      height: 1.5rem;
      line-height: 30px;
      text-align: center;
      transition: color 300ms;
    }

    .navbar-item-image {
      background-position: center;
      background-size: cover;
      border-radius: inherit;
      height: inherit;
      width: inherit;
    }
  }
}
