@function gray($color) {
  @return rgb($color, $color, $color);
}

$accent-cinnabar: #e94f37;
$accent-steel-blue: #3f88c5;
$accent-forest-green: #548c2f;
$accent-byzantium: #74226c;
$accent-cyclamen: #ef709d;
$accent-keppel: #44bba4;
$accent-mustard: #ffd449;

$light-primary: #f6f7eb;
$dark-primary: #393e41;

$blurple: rgb(88, 101, 242);

$green: rgb(59, 165, 93);
$red: rgb(237, 66, 69);
$yellow: rgb(250, 168, 26);

// $d1: rgb(54, 57, 63);
$d1: rgb(29, 103, 252);

$d2: rgb(47, 49, 54);
$d3: rgb(32, 34, 37);

$d4: rgb(41, 43, 47);
$d5: rgb(66, 70, 77);
$d6: rgb(24, 25, 28);
