@import "../../styles/colours.scss";

#sidenav-wrapper {
  height: calc(100% - 1.5rem);
  left: 0px;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  width: 16rem;
  z-index: 2;

  &::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }

  #sidenav {
    background-color: $d3;
    display: flex;
    flex-direction: column;
    height: 100%;
    pointer-events: all;
    top: 0px;
    width: 3rem;

    .sidenav-section {
      display: flex;
      flex-direction: column;
      padding: 10px 0px;
      position: relative;

      &:nth-of-type(n + 2) {
        &:after {
          background-color: #ffffff;
          border-radius: 2px;
          content: "";
          height: 2px;
          left: 50%;
          position: absolute;
          top: 0px;
          transform: translateX(-50%);
          width: 50%;
        }
      }
    }
  }
}
