@import "../../styles/colours.scss";

// .tooltip {
//   opacity: 0;
//   pointer-events: none;
//   position: absolute;
//   transition: opacity 150ms;

//   &:after {
//     background-color: #000;
//     content: "";
//     height: 8px;
//     position: absolute;
//     width: 8px;
//   }

//   &.right {
//     right: -9px;
//     top: 50%;
//     transform: translate(100%, -50%);

//     &:after {
//       left: 0px;
//       top: 50%;
//       transform: translate(-50%, -50%) rotate(45deg);
//     }
//   }

//   &.top {
//     left: 50%;
//     top: -9px;
//     transform: translate(-50%, -100%);

//     &:after {
//       bottom: 0px;
//       left: 50%;
//       transform: translate(-50%, 50%) rotate(45deg);
//     }
//   }

//   p {
//     background-color: gray(20);
//     border-radius: 6px;
//     color: gray(230);
//     font-weight: 500;
//     padding: 10px 12px;
//     white-space: nowrap;
//   }
// }

.tooltip-wrapper {
  // display: inline-block;
  position: relative;
}

.tooltip-tip {
  position: absolute;
  // border-radius: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  // background: $dark-primary;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;

  &::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    margin-left: calc(6px * -1);
  }

  &.right {
    left: calc(100% + 0.8rem);
    top: 50%;
    transform: translateX(0) translateY(-50%);

    &:before {
      left: -0.4rem;
      top: 50%;
      transform: translateX(0) translateY(-50%);
      border-right-color: gray(20);
    }
  }

  // &.right {
  //   right: -9px;
  //   top: 50%;
  //   transform: translate(100%, -50%);

  //   &:after {
  //     left: 0px;
  //     top: 50%;
  //     transform: translate(-50%, -50%) rotate(45deg);
  //   }
  // }

  p {
    background-color: gray(20);
    border-radius: 0.4rem;
    font-size: 1rem;
    color: gray(230);
    font-weight: 500;
    padding: 10px 12px;
    white-space: nowrap;
  }
}
